!!!
%html
  %head
    %title Tag Story API
  %body
    %img{:src => "/images/logo.png", :alt => "The Tag Story logo"}
    %p
      Visit
      %a{:href => "http://tagstory.no"} TagStory.no
      to read about the project, or visit one of our projects repositories.
    %ul
      %li
        %a{:href => "https://github.com/Kyrremann/TagStory"} Android app
      %li
        %a{:href => "https://github.com/Kyrremann/TagStory-StoryCreator"} Story Creator
      %li
        %a{:href => "https://github.com/Kyrremann/TagStoryApi"} API (this site)
      
